<div class="container">
  <div class="row">
    <div class="col-md-6 mx-auto">
<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <h1 style="text-align:center">Password Validator</h1>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" formControlName="password" id="password"  class="form-control">
    </div>
    <div class="form-group">
        <label for="passwordText">Input Password is</label>
        <div>{{form.controls.password.value}}</div>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-6">
              <button type="submit" class="btn btn-primary px-4">Submit</button>
            </div>
          </div>

    </div>
    <div>
    {{message}}
    </div>
    <div *ngIf="values">
    <ul *ngFor="let value of values">
      <li> <p>{{value.violations}} </p></li>
         </ul>
    </div>
  </form>
  </div>
</div>

